{% extends 'base.html' %}

{% block head %}
<title>Tubes 2 Algeo</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Tubes Algeo</h1>
    {% if documents|length < 1 %}
    <h4 style="text-align: center">There are no file.</h4>
    {% else %}
    <div class="form">
        <form action="/" method="POST">
            <label for="textQuery2"></label>
            <input type="text" name="textquery" id="textQuery2" value="{{ input }}">
            <input type="submit" value="Add Query">
        </form>
    </div>
    <table>
        <tr>
            <th>Filename</th>
            <th>Added</th>
            <th>First line</th>
            <th>Word length</th>
            <th>Similarity</th>
            <th>Actions</th>
        </tr>
        {% for document in documents %}
        <tr>
            {% if document.url %}
            <td>
                <a href="{{ document.url }}">{{ document.name }}</a>
            </td>
            {% else %}
            <td>
                <a href="/view/{{ document.id }}">{{ document.name }}</a>
            </td>
            {% endif %}
            <td>{{ document.date_created.date() }}</td>
            <td>{{ document.first_sentence }}</td>
            <td>{{ document.wordcnt }}</td>
            <td>{{ document.sim | round(2) }}%</td>
            <td>
                <a href="/delete/{{ document.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="filetxt" id="filetxt2" multiple>
            <input type="submit" value="Add File">
        </form>
    </div>
    <div class="form">
        <form action="/get-from-url" method="POST">
            <input type="text" name="url" id="url-form" placeholder="Enter URL...">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<table>
    <tr>
        <th>Terms</th>
        <th>Query</th>
        {% for document in documents %}
        <th>{{ document.name }}</th>
        {% endfor %}
    </tr>
    {% for i in range (arr| length) %}
    <tr>
        <td>{{ arr[i] }}</td>
        {% for j in range (dcount) %}
        <td>{{ arr2[i][j] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}